body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: fadeInBackground 1s ease-in-out;
    color: white;
}

@keyframes fadeInBackground {
    from { opacity: 0; }
    to { opacity: 1; }
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.navbar:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    position: relative;
    transition: color 0.3s;
}

.navbar a:hover {
    color: pink;
}

.navbar a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: red;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar a:hover::after {
    width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
}

.search-bar button {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    background-color: #f06292;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #e91e63;
}

.content {
    text-align: center;
    margin-top: 50px;
}

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.time {
    font-size: 48px;
    margin-top: 20px;
}

.date {
    font-size: 24px;
    margin-top: 10px;
}
